@model IEnumerable<survey.Models.PersonelListeSatiri>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel settings-list-panel">
    <div>
        <h4>PERSONEL LİSTESİ</h4>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td></td>
                <th>Personel Adı</th>
                <th>Giriş Kullanıcı Adı</th>
                <th>Durum</th>
                <th>Yetki</th>
                <th>Son Giriş</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="fa fa-pencil" title="Personel düzenleme" href="@Url.Action("PersonelEdit", "Ayar", new { id = item.PersonelId })"></a>
                        <a class="fa fa-trash-o" title="Personel sil" href="@Url.Action("PersonelDelete", "Ayar", new { id = item.PersonelId })"></a>
                    </td>
                    <td>@item.PersonelAdi</td>
                    <td>@item.KullaniciAdi</td>
                    <td>
                        @if (item.HesapAktif)
                        {
                            <span class="settings-status-badge active">Aktif</span>
                        }
                        else
                        {
                            <span class="settings-status-badge passive">Pasif</span>
                        }
                    </td>
                    <td>
                        @if (item.Yetkili)
                        {
                            <span class="settings-status-badge admin">Yönetici</span>
                        }
                        else
                        {
                            <span class="settings-status-badge neutral">Personel</span>
                        }
                    </td>
                    <td>@(item.SonGirisTarihi?.ToString("dd.MM.yyyy HH:mm") ?? "-")</td>
                </tr>
            }
        </table>
        <div class="col-lg-9"></div>
        <div class="col-lg-3">
            <a style="background-color:green; color:white" class="btn btn-default" href="@Url.Action("Index", "Ayar")">Geri</a>
            <a style="background-color:blue; color:white" class="btn btn-default" href="@Url.Action("PersonelCreate", "Ayar")">Yeni</a>
        </div>
    </div>
</div>
