@model IEnumerable<survey.Models.smtpayar>

@{
    ViewBag.Title = "Smtp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading panel-head; text-uppercase">
        SMTP AYARLARI
    </div>
    <div class="panel-body">

        <table class="table" style="background-color:white">
            <tr>
                <th>
                    Sunucu Adresi
                </th>
                <th>
                    Giden Port
                </th>
                <th>
                    Kullanıcı Adı
                </th>
                <th>
                    Ssl Düzenle
                </th>
                <th>
                    Gönderen
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sunucu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Portu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ssli)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gonderen)
                    </td>
                    <td>
                        <a href="@Url.Action("SmtpDzn", "Ayar", new { id = item.MailId})"><img width="30" src="@Url.Content("~/Content/img/edit.png")" /></a>
                    </td>
                </tr>
            }

        </table>
        <div class="col-lg-9"></div>
        <div class="col-lg-3">
            <a style="background-color:green; color:white" class="btn btn-default" href="@Url.Action("Index", "Ayar")">Geri</a>
        </div>

    </div>
</div>